// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//横並べ
.itemul {
  li {
    display: inline-block;
  }
}

.public_mark {
  position: relative;
  //left: -40px;
  //top: -8px;
  font-size: 20px;
  color: red;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
  background-color: white;
  border: red solid;
  border-radius: 20px;
  box-shadow: 2px 2px #730E15;
}

.button_to, .link_to, input[type="submit"] {
  background-color: #bbbbbb;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 400px;
  border: black solid;
}

.field_with_errors {
  width: 400px;
  padding-right: 10px;
}

textarea {
  height: 160px;
}

.card {
  background-color: aliceblue;
  border: #2E2F30 solid;
  border-radius: 10px;
  margin-bottom: 10px;
}

.box {
  position: relative;
  border: solid 1px;
  width: 400px;
  left: 10px;
  padding: 5px;
}

@media screen and (min-width: 400px) {
  /* 表示領域が400px以上の場合に適用するスタイル */
  .card {
    width: 400px;
  }
}
