// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.itemul {
  li {
    display: inline-block;
  }
}

.button_to {
  background-color: #bbbbbb;
  border-radius: 10px;
  text-align: center;
}

.link_to {
  background-color: #bbbbbb;
  border-radius: 10px;
  text-align: center;
}

.card {
  background-color: aliceblue;
  border: #2E2F30 solid;
  border-radius: 10px;
  margin-bottom: 10px;
}